<app-header [showMenu]="true" title="Mis recetas"></app-header>

<ion-content>

  <ion-list>
    <ion-item-sliding class="product-item" *ngFor="let r of recipes">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="r.image" />
        </ion-avatar>

        <ion-label>
          <div class="name">{{r.name}}</div>
          <div class="data"> <strong> Ingredientes: </strong> {{r.ingredientes}} </div>
          <br>
          <div class="data"> <strong> Preparación: </strong> {{r.preparacion}} </div>
        </ion-label>

      </ion-item>

    
<!-- ==============Opciones=============== -->
      <ion-item-options class="option-btn">

        <!-- ==============Editar=============== -->
        <ion-item-option (click)="addUpdateRecipes(r)">
          <ion-icon class="option-btn" name="create-outline"></ion-icon>
        </ion-item-option>
  
        <!-- ==============Eliminar=============== -->
        <ion-item-option (click)="confirmDeleteRecipe(r)" color="danger">
          <ion-icon class="option-btn" name="trash-outline" ></ion-icon>
        </ion-item-option>

      </ion-item-options>



    </ion-item-sliding>
  </ion-list>

  <!-- ======= Nueva receta ========== -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addUpdateRecipes()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>





</ion-content>